.Header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #262626;
  font-size: 24px;
}