@import 'node_modules/react-big-calendar/lib/css/react-big-calendar';

.rbc-time-header .rbc-row:nth-child(2) {
  display: none;
}

.rbc-time-view .rbc-row {
  min-height: 30px;
}

.rbc-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
